

{% assign productaccesories =  product.metafields.my_fields.sponsor.value %}

{% assign collectionname = product.collections[0].title %}

{% assign collectionaccesories = collections[collectionname].metafields.my_fields.sponsor.value %}

{% if productaccesories == blank %}
   {% assign accesories = collectionaccesories %}
 {% else %}
   {% assign accesories = productaccesories %}
 {% endif %}  


<h1 style = "text-align:center;">{{block.settings.heading}}</h1>

<div class = "outfoss-product-grid">

{% for product in accesories  %}
  <div class="outfoss-product">
      <a href="#" class="outfoss-product-link">
       <!-- <img src="{{ product.featured_media | image_url: width: 360 }}" > -->
        {{ product.featured_image | image_url: height: 200 | image_tag: loading: 'lazy' }}
        <h3>{{product.title}}</h3>
        <p>{{product.price | money}}</p>
      </a>
      <button class="outfoss-add-to-cart" style = "background-color:{{block.settings.cartbackgroundcolor}}" {% if product.has_only_default_variant == false %} data-show = "true" {% endif %}  data-product-id="{{product.variants[0].id}}"><span style = "color:{{block.settings.carttextcolor}}">Add to Cart</span></button>
       <div class = "toast" style = "display:none;">
          <ul class = "toast-list">
          {% for variant in product.variants %}
           <li style = "background-color:{{block.settings.cartbackgroundcolor}}; color:{{block.settings.carttextcolor}}"  data-variant-id = "{{variant.id}}"><span>{{variant.title}}</span><span style = "margin-left:11px;">{{variant.price | money}}</span></li>
          {% endfor %}
          </ul>
       </div>
    </div>
{% endfor %}
</div>


{% schema %}
  {
    "name": "Hello World",
    "target": "section",
    "enabled_on": {
      "templates": ["product"]
    },
    "stylesheet": "app.css",
    "javascript": "app.js",
    "settings": [
       
       {
      "id": "heading",
      "type": "text",
      "label": "Accesories",
      "default": "Accesories"
      },
        { 
        "label": "Cart Text Color", 
        "id": "carttextcolor", 
        "type": "color", 
        "default": "#000000"
         },
          { 
        "label": "Cart Background Color", 
        "id": "cartbackgroundcolor", 
        "type": "color", 
        "default": "#fff"
         }
    ]
  }
{% endschema %}